<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhimali.zheng">

    <application
        android:name=".apps.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".apps.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".apps.HomeActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".module_mine.UserDetailActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".module_mine.NameSetActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".module_mine.BindPhoneActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".module_mine.LoginActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".module_mine.RegisterActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".module_mine.FindPasswordActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".module_mine.SettingActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".module_mine.ResetPasswordActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".module_mine.AboutUsActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".module_mine.FeedbackActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".module_mine.BusinessActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".module_mine.FansActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".module_mine.HelpActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".module_mine.NoticeActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".module_mine.NoticeDetailActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".module_mine.TiXianActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".module_mine.YueBiActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>